body {
	background-color: #DCDCDC

}
h1 {
	color: white;
	font-family: 'Notable', sans-serif;
	font-size: 40pt;
}

h2 {
	color: #FFFAFA;
	font-family: 'Noto Serif KR', sans-serif;
	font-size: 12pt;
}

p {
	font-family: 'Noto Serif KR', sans-serif;
}

.blue-rectangle {
	background-color: #406B80;
	width: 500px;
	height: 300px;
	padding: 30px 50px 50px 50px;
	border-style: dotted;
	border-color: white;
}

.blue-rectangle p {
	text-align: center;
	color: white;
}